<h1>
    <%= title %>
</h1>
<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <div class="edit-inventory-container">
                <form id="updateForm" class="edit-inventory-form" action="/inv/edit-inventory" method="post">

                    <label for="classificationList">Classification</label>

                    <%- select_classification %>

                        <label for="inv_make">Make</label>
                        <input type="text" id="inv_make" name="inv_make" required pattern="^.{3,}$"
                            value="<%= locals.inv_make %>" placeholder="Min of 3 characters" />

                        <label for="inv_model">Model</label>
                        <input type="text" id="inv_model" name="inv_model" required pattern="^.{3,}$"
                            value="<%= locals.inv_model %>" placeholder="Min of 3 characters" />

                        <label for="inv_description">Description</label>
                        <textarea id="inv_description" name="inv_description" required>
                            <%= locals.inv_description %>
                        </textarea>

                        <label for="inv_image">Image Path</label>
                        <input type="text" id="inv_image" name="inv_image" required
                            value="<%= locals.inv_image %>" />

                        <label for="inv_thumbnail">Thumbnail Path</label>
                        <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
                            value="<%= locals.inv_thumbnail %>" />

                        <label for="inv_price">Price</label>
                        <input type="text" id="inv_price" name="inv_price" required pattern="^\d+(\.\d+)?$"
                            value="<%= locals.inv_price %>" placeholder="Decimal or integer" />

                        <label for="inv_year">Year</label>
                        <input type="text" id="inv_year" name="inv_year" required pattern="^\d{4}$"
                            value="<%= locals.inv_year %>" placeholder="4-digit year" />

                        <label for="inv_miles">Miles</label>
                        <input type="text" id="inv_miles" name="inv_miles" pattern="^\d+$" required
                            value="<%= locals.inv_miles %>" placeholder="digits only" />

                        <label for="inv_color">Color</label>
                        <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>" />

                        <p class="field-requirements">
                            * All fields are required
                        </p>

                        <button type="submit" disabled >Update Vehicle</button>

                        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                            <% } %>>
                </form>
                <script src="/js/inv-update.js"></script>
            </div>